.content {
  text-align: center;
  font-family: consolas;
  font-size: 16px;
}
.container {
  width: 75vw;
}
.button {
  background-color: transparent;
  color: rgba(128, 182, 244, 1);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-family: consolas;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border: 2px solid rgba(128, 182, 244, 0.6);
  border-radius: 0.5rem;
}
canvas {
  padding-left: 0;
  padding-right: 0;
  margin-top: auto;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

h1 {
  color: rgba(128, 182, 244, 1);
  font-family: consolas;
}
.description {
  font-family: consolas;
  color: #ffffff;
}
html,
body {
  width: 100%;
  height: 100%;
  position: absolute;
  margin: 20px 2px;
}
